
<div id="top" class="row">
     <div class="col-md-12">
    <div class="page-header">
        <h2>View prof <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>  </div>
</div>




<div class="row">
    <div class="container">
    <div class="col-md-4">
        <p><strong>Id</strong></p>
        <p>
            {{ prof.id }}
             
        </p><p><strong>Matiere</strong></p>
        <p>
 {{ prof.matiere }}</p>
    </div>
 <div class="col-md-4">
        <p><strong>Nom</strong></p>
        <p>
           
             {{ prof.nom }}
             
        </p>

    </div>
 </div>

<hr/>

<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back to list    <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
      

      </div>  </div>
    